/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Login Page */
.login-body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	background: #eee;
	color:#666;
}

.login-container{
	height: 100vh;
	width: 100%;
}

.login-form{
	max-width: 100%;
	width: 370px;
	padding: 15px;
	margin: auto; 
}

.form-control{
	font-size: 15px !important;
	min-height: 48px !important;
	font-weight: 500 !important;
}

.form-control:focus{
	border:#f0ad4e;
	box-shadow: 0 0 0 0.2rem rgba(217,155,69,.25);
}

.forgot-link{
	font-size: 13px;
}

.forgot-link label{
	margin-bottom: 0;
	
}

.login-form a{
	text-decoration: none;
	color:#666;
}

.login-form a:hover{
	color: #f0ad4e;
}

.btn-custom{
	background: #f0ad4e;
	color: #000;
	font-size: 15px;
	font-weight: 600;
	min-height: 48px;
}

.btn-custom:focus, .btn-custom:hover, .btn-custom:active, .btn-custom:active:focus{
	background: #d99b45;
	border-color: #d99b45;
	color:#000;
}

.btn-custom:focus{
	box-shadow: 0 0 0 0.2rem rgba(217,155,69,.25);
}

.bg-custom{
	background:#343a40;
}

.bg-custom:hover{
	background: #343a40;
}

.sidebar{
	position: fixed;
	top:0;
	left:0;
	bottom: 0;
	z-index: 100;
	padding: 70px 0 0 0px;
}

.left-sidebar{
	position: sticky;
	top:0;
	height: calc(100vh - 70px);
}

.sidebar-nav li .nav-link{
	color:#fff;
	font-weight: 500;
}

.sidebar-nav li .nav-link:hover{
	background: #f0ad4e;
	color:#000;
}

.main{
	padding-top: 90px;
	margin-left:320px;
}

.card-container{
	position: relative;
	perspective: 200rem;
	height: 200px;
}

.card-container:hover .card-front{
	transform: rotateY(180deg) !important;
}

.card-container:hover .card-back{
	transform: rotateY(0deg);
}

.card-back{
	transform: rotateY(180deg);
}

.card1{
	position: absolute;
	transition: all 0.9s;
	height: 100%;
	width: 100%;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}